<html>



<head>

    <!-- <link rel="stylesheet" href="homepage.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">







</head>








<body>
    <div class="big">

        <div class="header">
            <div class="headerLogo">
                <img src="static/images/CAR-01.png" alt="Logo">
            </div>
            <div class="links">
                <a class="l1" href="Sign_In.html">Sign Up</a>
                <a class="l1" href="Sign_Up.html">Sign in</a>
                <a class="l1" href="profile.html">Profile</a>
                <a class="l1" href="homepage.html">Home</a>
                <a class="l1" href="Sign_Up.html">logout</a>
            </div>
        </div>




        <!-- <div class="navy">

            <div class="a"><a href="homepage.html">home</a></div>
            <div class="b"><a href="profile.html">profile</a></div>
            <div class="c">logout</div>
            <div class="d">about us</div> 


        </div> -->



        <div class="main_page">

            <div class="logo">
                <!-- <img src="lll.jfif" alt=""> -->

            </div>

        </div>
        <div class="trip000">

            <p class="trip_head000">Reverse a Trip</p>
            <div class="pickup000">
                <form>
                <label>please insert your pickup</label>
                <input class="home_input" type="text">



                </form>

            <div class="destination000">
            <form>
                <label>please insert your destination</label>
                <input class="home_input" type ="text">
    
    
    
            </form>    


            </div>

        


        </div>

    </div>     

 




















</body>




































</html>